@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Bungee+Shade&family=Staatliches&display=swap");

.Forecast {
  text-align: center;
  font-family: "Baloo Tamma 2", cursive;
  border-radius: 4px;
  padding: 16px;
  box-shadow: 0px 0px 20px 3px rgb(167 188 124 / 19%);
  background-color: rgb(255 255 255 / 70%);
  color: rgb(26, 89, 163);
}
.Forecast .TempFmin {
  opacity: 0.6;
  margin-left: 5px;
  color: rgb(26, 89, 163);
}
.Forecast .TempFmax {
  font-weight: bold;
  color: cornflowerblue;
}
