.module {
  background-image: url(https://image.freepik.com/foto-gratis/remix-pandemia-coronavirus-noche-estrellada-van-gogh_53876-103441.jpg);
  background-size: cover;
  background-attachment: scroll;
}
